<%include ../partials/hearder%>
<h1>Searech Result: </h1>
<% blogs.forEach(function(blog){ %>
<div class="container">
    <h3 class="blog-title"><%=blog.title%></h3>
    <% if(blog.img){ %>
    <img src="<%=blog.img%>" class="indexImg">
    <% } else{ %>
    <i class="fab fa-d-and-d"></i>
    <% }%>
    -- <%=blog.body%>
    <a href="/blogs/<%= blog.id %>" class="btn btn-secondary">Show More</a>
</div>
<% }); %>
<%include ../partials/hearder%>